<html lang="en">
<%- include("./partials/header.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

  <div class="about content">
    <h2>About Us</h2>
    <p>Stay curious.</p>
    <p>Discover stories, thinking, and expertise from writers on any topic.</p>
    <a href="/"><p class="backhome">GO BACK TO READING</p></a>
  </div>

  <%- include("./partials/footer.ejs") %>
</body>
</html>